md-sidenav {
  background-color: whitesmoke;
  max-width: 225px;
}

md-list {
  background-color: whitesmoke;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: 50%;
}
