<div layout="row" class="full-height">
  <!-- left sidenav -->
  <md-sidenav class="md-sidenav-left"
              md-component-id="left"
              md-whiteframe="2">
    <header layout layout-align="center">
      <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
          <h4>Left Nav</h4>
        </div>
      </md-toolbar>
    </header>
    <md-content layout>
    </md-content>
  </md-sidenav>

  <!-- Main Content Area and menu bar -->
  <section flex layout="column">
    <md-toolbar md-whiteframe="2">
      <div class="md-toolbar-tools" layout>
        <md-button class="md-icon-button"
                   ng-click="appCtrl.toggleLeft()">
          <span class="fa fa-bars"></span>
        </md-button>
        <h2><span>Rails Template</span></h2>
        <span flex></span>
        <md-button class="md-icon-button"
                   ng-click="appCtrl.toggleRight()">
          <span class="fa fa-info"></span>
        </md-button>
      </div>
    </md-toolbar>
    <md-content layout class="md-padding">
      <div flex ui-view></div>
    </md-content>
  </section>

  <!-- right sidenav -->
  <md-sidenav class="md-sidenav-right"
              md-component-id="right"
              md-whiteframe="2">
    <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
        <h4>Right Nav</h4>
      </div>
    </md-toolbar>
    <md-content layout>
      <md-list flex>
        <!-- Bitbucket Profile -->
        <md-list-item class="md-2-line">
          <div class="md-list-item-text" layout="column">
            <md-button ng-href="#" md-theme="darkblue" class="md-raised">
              <span class="fa fa-bitbucket">&nbsp;&nbsp;</span>Bitbucket
            </md-button>
          </div>
        </md-list-item>
        <md-divider></md-divider>
        <!-- Github Profile -->
        <md-list-item class="md-2-line">
          <div class="md-list-item-text" layout="column">
            <md-button ng-href="#" md-theme="darkpurple" class="md-raised">
              <span class="fa fa-github">&nbsp;&nbsp;</span>Github
            </md-button>
          </div>
        </md-list-item>
        <md-divider></md-divider>
      </md-list>
    </md-content>
  </md-sidenav>
</div>
