angular.module('test-site')
  .config(['$stateProvider', '$urlRouterProvider',
    ($stateProvider, $urlRouterProvider) ->
      $stateProvider
        .state('home', {
          url: '/home'
          templateUrl: "<%= asset_path 'layout/layout.html' %>"
          controller: 'appController as appCtrl'
        })

      $urlRouterProvider.otherwise('/home');
  ])
  .config(['$mdThemingProvider',
    ($mdThemingProvider) ->
      # Config Themes Here
  ]);
