/*
 *= require_self
 *= require_tree ../javascripts
 *= require angular-material
 *= require font-awesome
 *= require_tree .
 */

html, body {
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;
}

.full-height {
  min-height: 100%;
  height: 100%;
}

.full-width {
  min-width: 100%;
  width: 100%;
}
