<!DOCTYPE html>
<html>
  <head>
    <title>Rails 5 + AngularJS Site</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  <!--This is so the site looks good on mobile browsers-->
  <meta content="user-scalable=no,
                 initial-scale=1,
                 maximum-scale=1,
                 minimum-scale=1,
                 width=device-width,
                 height=device-height,
                 target-densitydpi=medium-dpi"
        name='viewport' />
  </head>
  <body ng-app="test-site" ng-class="$state.current.name | dotToDash" ng-cloak>
    <div ui-view class="full-height"></div>
  </body>
</html>
